body{
    background: rgb(163, 163, 255);
    color: rgb(0, 255, 42);
    font-family: Verdana;
    font-size: 15px;
}
#wrapper{
    background: blueviolet;
    width: 1100px;
    margin: 20px auto;
}
#wrapper header{
    background: rgb(132, 0, 255);
    padding: 20px;
}
#wrapper header hgroup{
    float: left;
    color: rgb(0, 255, 42);
}
#wrapper header nav{
    float: right;
    margin-top: 50px;
}
#wrapper header nav ul{
    padding: 0px;
    margin: 0px;
}
#wrapper header nav ul li{
    float: left;
    list-style: none;
}
#wrapper header nav ul li a{
    padding: 20px;
    color: rgb(0, 255, 42);
    text-decoration: none;
}
.clear{
    clear: both;
}
footer{
    background-color: rgb(132, 0, 255);
    padding: 20px;
}
footer a{
    color: rgb(0, 255, 42);
    text-decoration: none;
}
section{
    padding: 20px;
}